{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-6">
    <p> Cake Crafts is a small project run by a mad cake enthusiast who just wants cakes to be more beautiful</p>
    <p> Look here for inspiration, recipes and techniques to make your next cake extra special</p>
    </div>
    <div class="col-md-6">
        <img src="https://cdn.pixabay.com/photo/2017/09/01/03/26/decorating-2702974_960_720.jpg" height="400px" width="600px"></img>
    </div>
    </div>
{% endblock %}