{% extends 'base.html' %} {% block content %}

<p>Got a question? Something you want to see on the site? Feedback?</p>
<p>Let it all out, simply fill in this form to let us know.</p>
<p>While you're here, why not sign up for our newsletter? Check the box to receive monthly updates on the latest cakes and techniques.</p>
<form>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="message">Your message</label>
        <input type="text" class="form-control" id="message" placeholder="Say what you've got to say">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="newsletterCheck">
        <label class="form-check-label" for="newsletterCheck">Check to receive our monthly newsletter</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
