{% extends 'base.html' %} 
{% block content %} 
{% for item in string_list %}
<p>{{item}}</p>
{% endfor %} 

{% for item in cakes %}
<div class="row">
    {% if loop.index % 2 != 0 %}
    <div class="col-md-5">
        <h2>{{item["title"]}}</h2>
        <p>{{item["tagline"]}}</p>
        <h3>Ingredients</h3>
        <ol>
            {% for ingred in item["ingredients"]%}
            <li>{{ingred}}</li>
            {% endfor %}
        </ol>
    </div>
    <div class="col-md-7">
        <img src="{{item["image_source"]}}" class="cake-img"></img>
    </div>

    <div class="col-md-12">
        <h3>Method</h3>
        <ol>
            {% for step in item["method"]%}
            <li>{{step}}</li>
            {% endfor %}
        </ol>
        <p>Full recipe available from: <a href="{{item["recipe_url"]}}" target="_blank">BBC Good Food</a></p>
    </div>
    
    {% else %}
    <div class="col-md-7">
        <img src="{{item["image_source"]}}" class="cake-img"></img>
    </div>
    <div class="col-md-5">
        <h2>{{item["title"]}}</h2>
        <p>{{item["tagline"]}}</p>
        <h3>Ingredients</h3>
        <ol>
            {% for ingred in item["ingredients"]%}
            <li>{{ingred}}</li>
            {% endfor %}
        </ol>
    </div>

    <div class="col-md-12">
        <h3>Method</h3>
        <ol>
            {% for step in item["method"]%}
            <li>{{step}}</li>
            {% endfor %}
        </ol>
        <p>Full recipe available from: <a href="{{item["recipe_url"]}}" target="_blank">BBC Good Food</a></p>
    </div>
    
</div>
{% endif %}
{% endfor %}

      
    <h2>More recipes coming soon ...</h2>


{% endblock %}
