{% extends 'base.html' %} {% block content %}
<h1>Tried and tested cake recipes - take your pick!</h1>
<div>
    <h2>Mary Berry's Easy Chocolate Cake</h2>
    <img src="https://c.pxhere.com/photos/5b/b5/cake_chocolate_cream_dessert_delicious_birthday_brown_bakery-867420.jpg!d" height="734px" width="1100px"></img>
    <p>Mary hasn't let me down yet. This cake is easy to make, delicious and a firm favourite.</p>
    <h3>Ingredients</h3>
    <ol>
        <li>225g/8oz unsalted butter, softened, plus extra for greasing</li>
        <li>225g/8oz caster sugar, plus extra for sprinkling</li>
        <li>4 free-range eggs</li>
        <li>220g/7¾oz self-raising flour</li>
        <li>2 tsp baking powder</li>
        <li>50g/1¾oz cocoa powder</li>
    </ol>
    
    <h3>Method</h3>
    <ol>
        <li>Preheat the oven to 180C/160C Fan/Gas 4. Lightly butter two loose-bottomed 20cm/8in sandwich tins and line the bases with baking paper.</li>
        <li>Put the butter, sugar, eggs, flour, baking powder and cocoa in a large bowl and beat for 2 minutes, or until just blended. (An electric mixer is best for this, but you can also beat by hand using a wooden spoon.)</li>
        <li>Divide the mixture evenly between the tins. Level the surface using a spatula or the back of a spoon.</li>
        <li>Bake for 25-30 minutes. The tops of the cakes should spring back when pressed lightly with a finger. Leave the cakes to cool in the tins for 5 minutes. Run a small palette knife around the edge of the tins, then carefully turn the cakes out onto a wire rack. Peel off the paper and leave to cool completely.</li>
        <li>Choose the cake with the best top, then put the other cake top-down onto a serving plate. Spread with the jam and whipped cream, put the other cake on top (top upwards) and sprinkle with caster sugar to serve.</li>
    </ol>
    
    <p>Full recipe available from: <a href="https://www.bbc.com/food/recipes/definitivechocolatec_72226" target="_blank">BBC Good Food</a></p>
</div>
<div>
    <h2>Red Velvet Cake</h2>
    <img src="https://images.pexels.com/photos/806363/pexels-photo-806363.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" height="734px" width="1100px"></img>
    <p>Chocolate cake but somehow better...</p>
    <h3>Ingredients</h3>
    <h4>For the cake:</h4>
    <ol>
        <li>150g/5½oz unsalted butter, softened</li>
        <li>150g/5½oz golden caster sugar</li>
        <li>1 tsp vanilla extract</li>
        <li>3 free-range eggs , lightly beaten</li>
        <li>4 tbsp Greek-style yoghurt</li>
        <li>1-2 drops red food colouring gel</li>
        <li>150g/5½oz self-raising flour</li>
        <li>50g/1¾oz cocoa powder</li>
        <li1 tbsp semi-skimmed milk></li>
    </ol>
    <h4>For the icing:</h4>
    <ol>
        <li>100g/3½oz butter</li>
        <li>200g/7oz cream cheese</li>
        <li>500g/1lb 2oz icing sugar</li>
        <li>1 tsp lemon juice</li>
    </ol>
    
    <h3>Method</h3>
    <ol>
        <li>Pre heat the oven to 170C/150C Fan/gas 3. Grease and line a deep, round 15cm/6in tin.</li>
        <li>Beat the butter, sugar and vanilla together in a bowl until pale and fluffy. Add the eggs one at a time, beating after each addition (if the mixture looks curdled add a spoonful of the flour.)</li>
        <li>Mix the yogurt with the food colouring - it should look very, very red since the mixture will fade once cooked. Beat the yogurt into the cake mixture.</li>
        <li>Fold in the remaining flour and cocoa powder, followed by the milk until well combined. Spoon the mixture into the cake tin and bake for 1 hour 20 minutes or until well risen and golden-brown and a skewer inserted into the middle comes out clean.</li>
        <li>Remove the cake from the tin and leave to cool for five minutes, then place onto a cooling rack and set aside to cool completely.</li>
        <li>For the icing, mix the butter and cream cheese together in a bowl. Then beat in the icing sugar a little at a time. Once all the icing sugar has been added, add the lemon juice and beat the icing for five minutes or until paler in colour.</li>
        <li>Slice the cake into three equal layers and sandwich them together with the icing. Finish with a layer of icing on top.</li>
    </ol>
    <p>Full recipe available from: <a href="https://www.bbc.com/food/recipes/red_velvet_cake_70743" target="_blank">BBC Good Food</a></p>
</div>
<div>
    <h2>More recipes coming soon ...</h2>
</div>

{% endblock %}
